
td{
    margin: 15px;
    align-items: center;
}
.headrow{
    text-align: center;
}
.trrow{
    margin: 15px;
}

.table{
    text-align: -webkit-center;
    margin-top: 100px;
}
.title{
    text-align: -webkit-center;
    margin-top: 100px;

}